<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="icon" href="https://cdnimg.melon.co.kr/cm/album/images/102/25/722/10225722_1000.jpg?d2e4243b7abf389ab967a845848d5577/melon/quality/80/optimize">
        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <title>Homebody</title>
    </head>

    <body>

      <h1>Halo, pengunjung.</h1>  
      <div class="outer-box">
        {% block content %}
        {% endblock content %}
      </div>
      
      <nav class="navbar fixed-bottom navbar-expand navbar-light" style="background-color: #fefbd8">
          <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
              <a class="nav-item nav-link" href="{% url 'education' %}">Education Timeline</a>
              <a class="nav-item nav-link" href="{% url 'skill' %}">Skills & Experiences</a>
          </div>
      </nav>
      
    </body>