{% extends 'Base.html' %}
{% load static %}

{% block content %}

<div>
    <h4>29 September 2000</h4>
    <p>Erania lahir</p>

    <h4>2003 - 2006</h4>
    <p>Playgroup, TK Bentara Indonesia III Jakarta</p>

    <h4>2006 - 2008</h4>
    <p>SDN Rawajati Timur 08 Pagi</p>

    <h4>2009-2012</h4>
    <p>SDS Pertiwi Bangdes</p>

    <h4>2012 - 2013</h4>
    <p>SMPN 4 Tangerang Selatan</p>

    <h4>2013 - 2014</h4>
    <p>SMPN 41 Jakarta</p>

    <h4>2014 - 2017</h4>
    <p>SMAN 28 Jakarta</p>

    <h4>2017 - Sekarang</h4>
    <p>Fakultas Ilmu Komputer, Universitas Indonesia</p>

</div>

{% endblock %}