{% extends 'Base.html' %}
{% load static %}

{% block content %}
<div class="row">
        <div class="col-md-3 col-sm-5">
                <div class="card" style="min-width: 150px;">
                    <img class="card-img-top" src="https://cdnimg.melon.co.kr/cm/album/images/102/25/722/10225722_1000.jpg?d2e4243b7abf389ab967a845848d5577/melon/quality/80/optimize" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Erania Siti Rajisa</h5>
                        <p class="card-text">Ini bukan foto saya. Ini foto album pH-1, berikut link Spotify artisnya.</p>
                        <a href="https://open.spotify.com/artist/2u7CP5T30c8ctenzXgEV1W?si=0dBJHnkcQ3ypYPxTRza9bQ" 
                        target="_blank" class="btn btn-warning">Listen to his songs</a>
                    </div>
                </div>
        </div>
        
        <div class="col-md-9 col-sm-7" id="proftxt">
            <h3>Ini adalah Eran.</h3>
            <p>Eran merupakan seorang mahasiswi berumur 18 tahun yang sibuk dengan studinya di Fakultas
                Ilmu Komputer Universitas Indonesia. Hobi membaca novel, menulis, dan fangirling.
                Secara umum, hidupnya tergolong membosankan.
            </p>
            <a href="https://twitter.com/arrendile" 
            target="_blank" class="btn btn-primary">🕊️</a>
            <a href="https://www.instagram.com/eran.ia/" 
            target="_blank" class="btn btn-info">📷</a>
            <a href="https://gitlab.com/eraniasr" 
            target="_blank" class="btn btn-danger">🐱</a>
        </div>
</div>

{% endblock %}