{% extends 'Base.html' %}
{% load static %}

{% block content %}

<h3>Skills</h3>
<div class="row">
    <ul class="col-sm-6">
        <li>Python</li>
        <li>Java</li>
        <li>Baca novel dengan cepat</li>
    </ul>
    <ul class="col-sm-6">
        <li>HTML</li>
        <li>CSS</li>
        <li>Django</li>
    </ul>
</div>

<h3>Experiences</h3>
<div class="row">
    <ul class="col-sm-6">
        <li>Seksi Konsumsi, Science Class (2016)</li>
        <li>Pengajar BETIS 2018</li>
        <li>Staff PAF FUKI 2018</li>
    </ul>
    <ul class="col-sm-6">
        <li>Staff Aspirasi DPM Fasilkom UI 2018</li>
        <li>Staff Penunjang SIWAK-NG 2018</li>
    </ul>
</div>

{% endblock %}